<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

        <!--开启包扫描-->
        <context:component-scan base-package="com.di"/>

        <!--使用setter方法进行注入-->
        <bean id="diObj" class="com.di.demo.DiObj">
                <property name="id" value="20220201"/>
                <property name="name" value="xiaoming"/>
                <property name="sex" value="1"/>
        </bean>

        <!--通过有参构造器注入属性值-->
        <bean id="diObj2" class="com.di.demo.DiObj">
                <constructor-arg name="id" value="20220202"/>
                <constructor-arg name="name" value="lisi"/>
                <constructor-arg name="sex" value="2"/>
        </bean>
        <bean id="diObj3" class="com.di.demo.DiObj">
                <constructor-arg index="0" value="20220203"/>
                <constructor-arg index="1" value="wangwu"/>
                <constructor-arg index="2" value="2"/>
        </bean>

</beans>